/* FONT IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Cabin&family=Montserrat:wght@700&display=swap');

/* root variables */
:root {
  --background-color: #fbf2e4;
  --heading-font: 'Montserrat', sans-serif;
  --body-font: 'Cabin', sans-serif;
  --font-color-main: #272727;
  --font-color-secondary: #6f6f6f;
  --card-color: #fbfaf6;
  --card-shadow: 0px 5px 10px rgba(82, 94, 105, 0.5);
  --border-radius: 16px;
}


/* DEFAULT STYLES/RESETS */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Cabin', sans-serif;
  font-size: 1em;
  line-height: 1.25;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', sans-serif;
}

.hidden {
  display: none;
}


/* Start of Header */

.flex-container-header {
  color: #000;
  display: flex;
  flex-flow: row wrap;
  gap: 0.5em;
}

.header,
.footer {
  background-color: #283618;
  color: #fff;
  padding: 1em;
  margin: 0.5em;
}

#logo {
  flex: 1 0 0;
}

#main-menu {
  flex: 1 0 0;
  margin-top: 2em;
  font-size: 1.25em;
  text-align: end;
}

#menu-dropdown {
  margin: auto;
  position: relative;
  float: right;
  width: 12em;
}

nav h2 {
  font-size: 1.5rem;
  border-radius: var(--border-radius);
  position: relative;
  background: #fbf8e1;
  height: 50px;
  text-transform: uppercase;
  margin-bottom: 0;
  color: inherit;
  font-weight: 200;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 20px -2px rgba(0, 0, 0, 0.35);
  transition: all 0.4s;
}

nav:hover h2 {
  box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.35);
  transition: all 0.4s;
}

#toggle {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
  height: 50px;
}

nav h2::before {
  position: absolute;
  right: 0;
  top: 0;
  height: inherit;
  aspect-ratio: 1;
  background: currentColor;
  display: flex;
  align-items: center;
  padding-right: 1rem;
  content: "";
  clip-path: polygon(50% 25%, 20% 80%, 80% 80%);
  transform: rotate(180deg) scale(0.75);
}

#toggle:not(:checked)~h2::before {
  transform: rotate(0deg) scale(0.75);
}

#toggle:checked~ul {
  visibility: hidden;
  opacity: 0;
}

#toggle:not(:checked)~ul {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

nav ul {
  padding-left: 0;
  padding-top: 2rem;
  margin-top: 0;
  background: #283618;
  list-style: none;
  overflow: hidden;
  text-align: right;
  text-align: center;
  transition: all 0.4s ease-out;
  width: 100%;
  position: absolute;
}

nav ul li {
  border-radius: var(--border-radius);
  position: relative;
  display: inline-block;
  line-height: 1.5;
  width: 100%;
  margin: 0 0 0.25rem 0;
  background: #fbf8e1;
  transition: background 3s;
  box-shadow: 2px 2px 10px -2px rgba(0, 0, 0, 0.35);
}

nav ul li:hover,
nav ul li a:focus {
  background: #ede07d;
  transition: background 0.45s;
}

nav ul a {
  display: block;
  color: inherit;
  font-weight: 200;
  text-decoration: none;
}

/* End of Header */


/* Start of Main */

.main {
  background-color: var(--background-color);
  padding: 1em;
  margin: 0.5em;
}

.title {
  font-family: 'Pacifico', cursive;
  font-weight: bold;
  color: var(--font-color-main);
  font-size: 3em;
  text-transform: capitalize;
  margin: 25px;
}

.secondary-title {
  font-family: var(--heading-font);
  font-weight: bold;
  color: var(--font-color-main);
  font-size: 2.5em;
  text-transform: capitalize;
  margin: 25px;
}


.objects-container {
  display: flex;
  flex-direction: column;
  gap: 38px;
  justify-content: center;
  width: 90%;
  max-width: 760px;
  margin: 3em auto;
}

.object-item {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  box-shadow: var(--card-shadow);
  border-radius: var(--border-radius);
  padding: 2em 2em;
  box-sizing: border-box;
  width: 100%;

  border-top-left-radius: 37px 140px;
  border-top-right-radius: 23px 130px;
  border-bottom-left-radius: 110px 19px;
  border-bottom-right-radius: 120px 24px;


  border: solid 3.5px #264653;
  transform: rotate(-1deg);
  transition: all 0.13s ease-in;
}

.object-item:hover {
  transform: translateY(-10px) rotate(1deg);
  box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
}

.object-title {
  font-family: var(--heading-font);
  font-weight: bold;
  color: var(--font-color-main);
  font-size: 2em;
  text-transform: capitalize;
  margin-top: 0.5em;
  margin-bottom: 0;
}

.object-subtitle {
  font-family: var(--heading-font);
  font-weight: bold;
  color: var(--font-color-secondary);
  font-size: 1.5em;
  text-transform: capitalize;
  margin: 0.5em;
}

.object-content {
  font-family: var(--body-font);
  color: var(--font-color-main);
  font-size: 1.1em;
  text-transform: capitalize;
  margin-top: 0.5em;
  line-height: 1.5;
}

.object-content strong {
  font-size: 1.25em;
  text-shadow:2px 2px 0 #ccd5ae;
}

.object-date-container {
  display: flex;
  flex-direction: row wrap;
  justify-content: center;
  align-items: center;
}

.object-date {
  /* flex: 1 0 50%; */
  align-items: center;
  padding: 0 2em;
  box-sizing: border-box;
  font-size: 1.2em;
  text-transform: capitalize;
  line-height: 1.5;
}

.object-item a,
.object-item a:visited {
  color: #283618;
  text-decoration: none;
}

.object-item a:hover {
  color: orange;
}

.object-item a:active {
  color: black;
} 

/* End of Main */


/* Start of Skill */

.skills-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: 2em auto;
}

.skill-item {
  flex: 1 0 22%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  background-color: var(--card-color);
  box-shadow: var(--card-shadow);
  border-radius: var(--border-radius);
  padding: 2em 2em;
  box-sizing: border-box;
  width: 100%;
  max-width: 320px;

}

.skill-item img {
  width: 150px;
  height: 150px;
}

.skill-title {
  font-family: var(--heading-font);
  font-weight: bold;
  color: var(--font-color-main);
  font-size: 1.5em;
  text-transform: capitalize;
  margin-top: 0.5em;
}

/* End of Skill */

/* Start of Form */
.form {
  display: flex;
  flex-direction: column;
  gap: 38px;
  justify-content: center;
  width: 90%;
  max-width: 760px;
  margin: 0 auto;
}

.form__field {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 1em;
}

.form__label {
  font-family: var(--heading-font);
  font-weight: bold;
  color: var(--font-color-main);
  font-size: 1.5em;
  text-transform: capitalize;
}

.form__input {
  font-family: var(--body-font);
  color: var(--font-color-main);
  font-size: 1em;
  padding: 1.2rem;
  border: none;
  box-sizing: border-box;
  display: block;
  box-shadow: var(--card-shadow);
  border-radius: var(--border-radius);
  width: 100%;
}

.form__textarea {
  padding: 1.2;
  width: 100%;
  max-width: 100%;
  line-height: 1.25;
  box-shadow: var(--card-shadow);
  border-radius: var(--border-radius);
  border: none;
  margin: 0.5em auto 1em;
  overflow: auto;
}


.form__button {
  font-family: var(--body-font);
  color: var(--font-color-main);
  font-size: 1em;
  font-weight: bold;
  padding: 1em 2em;
  background-color: #ffffff;
  border: none;
  display: block;
  box-shadow: var(--card-shadow);
  border-radius: var(--border-radius);
  margin: 1em auto 2em;
}

.form__button:hover {
  border: var(--card-shadow);
  box-shadow: inset var(--card-shadow);
}

/* End of Form */
